.hoverText {
  transition: 0.35s font-weight, 0.35s color;
}

.hoverText:hover {
  font-weight: 900;
  color: rgb(220, 38, 38);
}

/* To the right */
.hoverText:hover + .hoverText {
  font-weight: 500;
  color: rgb(239, 68, 68);
}

.hoverText:hover + .hoverText + .hoverText {
  font-weight: 300;
  color: rgb(252, 165, 165);
}

/* To the left */
.hoverText:has(+ .hoverText:hover) {
  font-weight: 500;
  color: rgb(239, 68, 68);
}

.hoverText:has(+ .hoverText + .hoverText:hover) {
  font-weight: 300;
  color: rgb(252, 165, 165);
}
